@import url('bootstrap');
@import url('bootstrap-icons');



/*Typography*/

/* a {
  color: black;
  text-decoration: none;
  padding: 0.5rem;
} */

.navbar-nav .nav-link.active {
  color: white;
}

a#always-active {
  color: black;
}