@import url('bootstrap');
@import url('bootstrap-icons');



/*Typography*/



.navbar-nav .nav-link.active {
  color: white;
}

a#always-active {
  color: black;
}



/*Card*/

.card {
  position: relative;
  font-size: 0.7rem;

  h6 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .img-cont {
    height: 160px;
    width: 140px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 15px 15px;
    }
  }

  .rating {
    position: absolute;
    top: 1px;
    right: 5px;
  }
}